@charset "UTF-8";
/* CSS Document */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://fonts.googleapis.com/css?family=Titan+One);

*{
	margin:0;
	padding:0;
}

body{
	background:#1b1e24;
	background-image:linear-gradient(to left,#1b1e24,#1b1e24 50%,#1b1e24);
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height:1.5em;
}

[class*="fontawesome-"]:before{
	font-family:'FontAwesome', sans-serif;
}

input{
	font-size:1em;
	line-height:1.5em;
	-webkit-appearance:none;
	border:none;
	height:48px;
	outline:none;
}

section{
	margin:50px auto;
	width:242px;
}

section span{
	color:hsl(5, 50%, 57%);
	display:block;
	height:48px;
	line-height:48px;
	position:absolute;
	text-align:center;
	width:36px;
}

input[type="text"], input[type="email"]{
	background:#fff;
	border-top:2px solid #2c90c6;
	border-right:1px solid #000;
	border-left:1px solid #000;
	border-radius:5px 5px 0 0;
	color:#363636;
	padding-left:36px;
	width:204px;
}

input[type="password"]{
	background:#fff;
	border-top:2px solid #2c90c6;
	border-right:1px solid #000;
	border-left:1px solid #000;
	border-radius:5px 5px 0 0;
	color:#363636;
	padding-left:36px;
	width:204px;
	margin-bottom:20px;
}

input[type="submit"]{
	background-color:#2c90c6;
	border:1px solid #2c90c6;
	border-radius:15px;
	color:#fff;
	font-weight:bold;
	line-height:48px;
	text-align:center;
	text-transform:uppercase;
	width:240px;
}

input[type="submit"]:hover{
	background:#2c70c6;
	box-shadow:2px 2px 20px #2c90c6;
}

h1{
	color:#2c90c6;
	font-size:40px;
	margin:2% auto;
	text-align:center;
	font-family:'Titan One';
	text-shadow:1px 2px 1px rgba(0,0,0,0.5);
	padding-top:40px;
}
h1:hover{
	text-shadow:2px 2px 20px #2c90c6;
}







