@charset "UTF-8";
/* CSS Document */

body{
	margin: 0;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	border-width: medium;
}

/* IMAGEN SUPERIOR */
.superior{
	background:transparent url(../img/superior.jpg) no-repeat top;
	height:18em;
	width:100%;
	position:absolute;
	top:0;
	z-index:-1;
}

/*IMAGEN INFERIOR*/
.inferior{
	height:18em;
	background:transparent url(../img/inferior.jpg) no-repeat bottom;
	bottom:0;
}


/* MENÚ */
.menu {
	width:100%;
	background:rgba(0,0,0,.75);
	display:block;
	text-align:center;
	position:fixed;
	top:0;
	z-index:100;
}

.menu ul{
}

.menu ul li{
	display:inline;
	list-style:none;
}

.menu ul li a:link, .menu ul li a:visited{
	color:white;
	display:inline-block;
	padding:1em;
	text-decoration:none;
	text-transform:uppercase;
}

.menu ul li a:hover{
	background:red;
}

/* PRESENTACIÓN */
.content{
	position:relative;
	top:7.5em;
	background:white;
	margin:0 auto;
	padding:3.25em;
	text-align:center;
}

h1, h2{
	text-align:center;
	font-weight:lighter;
}

h1{
	color:#B61137;
	font-size:2.1em;
}

h2{
	color:#484646;
	font-size:1.6em;
}

p{
	line-height:1.2em;
}









