@charset "UTF-8";
/* CSS Document */

body{
	background:url(images/sonrisa.jpg) no-repeat center fixed;
	background-size:cover;
}

.transparente{
	background:none;
}

.header{
	width:100%;
	margin:0 auto;
	padding:0 !important;
	background:#fff !important;
	text-align:center;
	height:109px;
}

h1{
	margin:0;
}

.header div{
	width:318px;
	margin:0 auto;
}

.header div img{
	width:100%;
}






