@charset "UTF-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Pacifico);
.jumbotron{
	padding-right:1em;
	position:relative;
}

.jumbotron h1{
	margin-left:30%;
	font-size:1.1em;
	text-align:right;
	font-family: 'Pacifico', cursive;
	margin-top:1em;
}

.jumbotron p{
	text-align:right;
	margin-left:35%;
	font-size:0.8em;
	margin-top:1em;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height:1em;
}

.contenedor{
	width:100%;

}

.contenedor img{
	position:absolute;
	width:35%;
	height:100%;
	top:0;
	left:0;

}

@media (min-width: 480px) {
	
.jumbotron{
	padding-right:2em;
}
.jumbotron h1{
	font-size:2.3em;
}	

.jumbotron p{
	margin-left:50%;
	font-size:1em;
}
	
}