@charset "UTF-8";
/* CSS Document */

body{
	background:#000;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1{
	color:#fff;
}

.clearfix{
	clear:both;
}

ul.sistemasolar{
	position:relative;
	height:640px;
	list-style:none;
	transition:all 0.09s ease-in;
	overflow:hidden;

}

ul.sistemasolar li{
	text-indent: -9999px;
	display:block;
	position:absolute;
	border:2px solid #394057;
}

ul.sistemasolar li span{
	display: block;
	position:absolute;
	width:10px;
	height:10px;
	border-radius:5px;
}

ul.sistemasolar li.active.sol,
ul.sistemasolar li.active span{
	transform:scale(1,3)
}

ul.sistemasolar li.sol{
	width:40px;
	height:40px;
	border-radius:20px;
	background:#fc3;
	 background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.22, rgb(204,153,0)),
        color-stop(1, rgb(255,219,112))
    );
	top: 302px;
	left: 462px;
	border:none;
	box-shadow: 0 0 50px #c90;
	z-index:100;
	transition: all 0.2s ease-in;
}

ul.sistemasolar li.sol span{
	width:60px;
	height:60px;
	border-radius: 30px;
}

ul.sistemasolar li.mercurio{
	width:100%;
	height:100%;
	border-radius:52px;
	top:270px;
	left:430px;
	z-index:99;
}

ul.sistemasolar li.mercurio span{
	background:#b6bac5;
	top:10;
	left:10;
}





















