@import url(https://fonts.googleapis.com/css?family=Rancho);

html, body
{
	padding: 0;
	margin: 0;
}
body
{
	background-color: #B52276;
	font-family: Arial, Helvetica, Verdana;
	font-size: 14px;
	line-height: 22px;
	color: #666;
	position: relative;
	-webkit-text-size-adjust: none;
}
body *
{
	text-shadow: none;
}
h1, h2, h3, h4, h5, h6
{
	line-height: 1;
	font-weight: bold;
	margin: 20px 0 10px 0;
}
.header span{
		font-family: 'Rancho', cursive;
		font-size:1.5em;
		font-weight:lighter;
		text-transform:uppercase;
}
.slide{
	width:100%;
	position:relative;
	margin-top:40px;
	border-bottom:3px solid #B52276;

}
.slide img{
	width:100%;
	margin-bottom:-5px !important;
}
h1
{
	font-size: 2.5em;
	font-family: 'Rancho', cursive;
	color:fff;
	position:absolute;
	width:45%;
	top:10%;
	right:0;
	color:#B52276;
	text-shadow:1px 1px 2px #000;
}
h4, h5, h6
{
	font-size: 16px;
}
p
{
	margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited, a:hover
{
	color: inherit;
	
}

nav:not(.mm-menu)
{
	display: none;
}

.header,
.content,
.footer
{
	text-align: center;
}
.header,
.footer
{
	font-size: 1em;
	font-weight:lighter;
	color: #fff;
	line-height: 40px;


	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width: 100%;
	height: 40px;
	padding: 0 50px;
}
.header{
	background:#B52276;
}
.footer{
	background: #777;
}
.header.fixed
{
	position: fixed;
	top: 0;
	left: 0;
}
.footer.fixed
{
	position: fixed;
	bottom: 0;
	left: 0;
}
.header a
{
	background: center center no-repeat transparent;
	background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );

	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;
}
.content
{
	width:100%;
	background:#fff;
	margin-top:40px;
}

.content h2{
	font-family: 'Rancho', cursive;
	font-size:2.5em;
	text-align:center;
	color:#fff;
	background:#5B5B5B;
	padding:0.2em 0;
	margin:0;
}
.content p{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif
	;
	font-size:1.2em;
	line-height:1.4em;
	width:80%;
	max-width:900px;
	margin:1.5em auto;
}
#intro, #first, #second, #third{
	width:100%;
	margin-bottom:4em;
	
}

.clearfix{
	clear:both;
}


.central{
	width:50%;
	margin:0 auto;
	border:2px solid #B52176;
}

.flota_izquierda{
	width:30%;
	float:left;
	margin-left:10%;
	border:2px solid #B52176;
	margin-right:2em;
}

.resaltado{
	font-size:2em;
	font-weight:bold;
}

.boton{
	text-decoration:none;
	background:#B52176;
	color:#fff;
	padding:0.8em 3em;
	border-radius:20px;
}

a.boton:link, a.boton:visited{
	color:#fff;
}

.boton:hover{
	background:#E367AE;
}

/* MENÚ LATERAL DESPLEGABLE */
#menu{
	background: #F6CFE5;

}

#menu ul {
	width:100%;
	}
	


.mm-title{
	color:#B52176 !important;
	font-weight:bold;
}

#menu ul li a:link, #menu ul li a:visited{
	color:#B52176 !important;
}

#menu ul li a:hover{
	background:#8E8C8D;
	color:#fff !important;
}

/* Tablet y iPad */
@media (min-width: 480px){
	h1{
	font-size: 4em;
	}	
}

/* Ordenadores de escritorio */
@media (min-width: 768px){
	
	h1{
	font-size: 8em;
	}
	

	
}







