@charset "UTF-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

body{
	background:rgba(243,209,180,1.00) url(images/bg.png);
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1.5em;
	text-align:center;
	color:#000;
	margin:50px 0;
}

.te-container{
	width:40%;
	max-width:500px;
	margin:0 auto;
	background:rgba(114,114,114,1.00);
	height:435px;
	border:5px solid rgba(114,114,114,1.00);
}

.te-wrapper{
	position:relative;
	width:100%;
}

.te-wrapper img{
	width:100%;
	border:3px solid #fff;
	box-sizing:border-box;
}

.te-next{
	width:100%;
	display:block;
	padding:0.5em 0;
	color:#fff;
	text-decoration:none;
	background:rgba(114,114,114,1.00);
	text-align:center;
}

footer{
	position:absolute;
	bottom:0;
	width:100%;
	background:rgba(228,166,29,1.00);
}

footer ul{
	width:600px;
	margin:0 auto;
	list-style:none;
}

footer ul li{
	width:25%;
	float:left;
}

footer ul li a{
	display:block;
	color:#fff;
	text-decoration:none;
	padding:20px 0;
	text-align:center;
	font-weight:bold;
}

footer ul li a:hover, footer ul li a.active{
	background:rgba(198,121,9,1.00);
}


/* EFECTOS DE IMÁGENES */
.te-transition,
.te-cover.te-hide,
.te-images{
	display:none;
}

.te-perspective {
	-webkit-perspective: 1000px;
}

.te-transition,
.te-cover{
	position:absolute;
	width:500px;
	height:400px;
	top:0;
	left:0;
}

.te-transition.te-show{
	display:block;
}

.te-card,
.te-back,
.te-front{
	width:100%;
	height:100%;
	position:absolute;
}

.te-card{
	-webkit-transform-style:preserve-3d;
}

.te-front,
.te-back{
	-webkit-backface-visibility:hidden;
}

.te-back{
	-webkit-transform:rotate3d(1,0,0,-180deg);
}


/********** FLIP 1 ***********/
.te-flip1.te-show .te-card{
	-webkit-animation: flip1 1s ease-in-out forwards;
}

@-webkit-keyframes flip1{
	0%{
		-webkit-transform:rotate3d(1,0,0,0);
	}
	100%{
		-webkit-transform:rotate3d(1,0,0,-180deg);
	}
}

/********** FLIP 2 ***********/
.te-flip2.te-show .te-card{
	-webkit-animation: flip2 1s ease-in-out forwards;
	-webkit-transform-origin: 50% 0%;
}

@-webkit-keyframes flip2{
	0%{
		-webkit-transform:rotate3d(1,0,0,0);
	}
	100%{
		-webkit-transform:rotate3d(1,0,0,-180deg) translate3d(0,-430px,0);
	}
}

/********** FLIP 3 ***********/
.te-flip3 .te-back{
	-webkit-transform: rotate3d(0,1,0,-180deg)
}
.te-flip3.te-show .te-card{
	-webkit-animation: flip3 1s ease-in-out forwards;
}

@-webkit-keyframes flip3{
	0%{
		-webkit-transform:rotate3d(0,1,0,0);
	}
	50%{
		-webkit-transform:rotate3d(0,1,0,-190deg);
	}
	70%{
		-webkit-transform:rotate3d(0,1,0,-172deg);
	}
	80%{
		-webkit-transform:rotate3d(0,1,0,-180deg);
	}
	95%{
		-webkit-transform:rotate3d(0,1,0,-178deg);
	}
	100%{
		-webkit-transform:rotate3d(0,1,0,-180deg);
	}
}

/********** FLIP 4 ***********/
.te-flip4 .te-back{
	-webkit-transform: rotate3d(0,1,0,-180deg);
}
.te-flip4.te-show .te-card{
	-webkit-animation: flip4 1s ease-in-out forwards;
	-webkit-transform-origin:100% 50%;
}

@-webkit-keyframes flip4{
	0%{
		-webkit-transform:rotate3d(0,1,0,0);
	}
	100%{
		-webkit-transform:rotate3d(0,1,0,-180deg) translate3d(333px,0,0);
	}
}





