@charset "UTF-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);

body{
	background: #F9C9ED;
	font-size:13m;
	color:#646464;
	font-family: 'Walter Turncoat', cursive;
}

.navbar-default{
	background:#595353;
	color:#fff;
}

.navbar-nav a{
	color:#fff !important;
	font-size:1.3em !important;
}

.navbar-nav a:hover{
	color:#E5E5E5 !important;
}


@media screen and (max-width: 768px){
	.navbar-nav li{
	border-bottom:1px solid #fff !important;
}

	.navbar-nav li:hover{
		background:#A7A3A3 !important;
}
}
