@charset "UTF-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

body{
	background:#39f url(images/background.png);
}

.container{
	width:1024px;
	min-height:768px;
	background:url(images/bg.jpg) no-repeat;
	margin:50px auto;
	border:1px solid #fff;
	position:relative;
}

.estatua{
	position:absolute;
	right:0;
	bottom:-5px;
	opacity:0.6;
}

@font-face{
	font-family:Best_Future_Bold;
	src:url(fonts/Best_Future_Bold_V1.otf);
}

h1{
	color:#fff;
	text-align:center;
	padding:110px;
	font-family:Best_Future_Bold;
	text-shadow:1px 1px 3px #000;
}