@charset "UTF-8";
/* CSS Document */

body{
	background:url(images/sonrisa.jpg) no-repeat center fixed;
	background-size:cover;
}

.transparente{
	background:none;
}

.header{
	width:100%;
	margin:0 auto;
	padding:0 !important;
	background:#fff !important;
	text-align:center;
	height:109px;
}

h1{
	margin:0;
}

.header div{
	width:318px;
	margin:0 auto;
}

.header div img{
	width:100%;
}

.contenido_home{
	width:45%;
	background:rgba(255,255,255,0.60);
	position:absolute;
	bottom:50px;
	right:0;
	border-top-left-radius:20px;
}

h3{
	margin:0;
}

.contenido_protocolo{
	position:absolute;
	z-index:100;
	background:rgba(48,48,48,0.90);
	width:100%;
	height:70%;
	padding-top:5em;
	text-align:center;
	display:none;
}

.contenido_protocolo span{
	color:#fff;
	font-size:10em;
	font-weight:bold;
}

.video{
	position:absolute;
	z-index:200;
	background:rgba(48,48,48,0.90);
	width:100%;
	height:70%;
	padding:0;
	display:none;
}

/* VIDEO  RESPONSIVE */
.hs-responsive-embed-youtube{
	position:relative;
	padding-bottom:56.25%; /* Este porcentaje es necesario para la visualización de vídeos con el formato 16:9 */
	padding-top:25px;
}
.hs-responsive-embed-youtube iframe{
	position:absolute;
	width:100% !important;
	height:100% !important;
}
.ui-panel-wrapper{
	background:none !important;
}
.foto_panel{
	width:95%;
}
.foto_panel img{
	width:100%;
	border:2px solid rgba(50,136,204,1.00);
	box-sizing:border-box;
}
#nosotros .ui-body-inherit{
	background:rgba(248,246,246,0.50) !important;
}
.paneles h2, p{
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-shadow:none;
}
h2{
	color:rgba(50,136,204,1.00);
	font-size:1.4em;
	margin:0;
}
p{
	color:rgba(90,90,90,1.00);
	font-size:0.9;
	width:95%;
	margin:10px 0 20px 0;
}







