@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Montserrat);

*{
	margin:0;
	padding:0;
}

html{
	height:100%;
	background:url('http://thecodeplayer.com/uploads/media/gs.png');
	background:linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)), url('http://thecodeplayer.com/uploads/media/gs.png');
}

body{
	font-family:montserrat, arial, verdana;
	
}

header{
	background:#fff;
	padding-top:15px;
	width:100%;
	border-bottom:#f49b32 3px solid;
}
h1{
	width:418px;
	margin:0 auto;
}

section{
	width:400px;
	margin:50px auto;
}


/* FORMULARIO SLIDE */

#msform{
	width:400px;
	text-align:center;
	position:relative;
}

#msform fieldset{
	background:white;
	border:0 none;
	border-radius:3px;
	box-shadow:0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding:20px 30px;
	box-sizing:border-box;
	width:80%;
	margin:0 10%;
	position:absolute;
}

#msform fieldset:not(:first-of-type){
	display:none;
}

#msform input, #msform select, #msform textarea{
	padding:15px;
	border:1px solid #ccc;
	border-radius:3px;
	margin-bottom:10px;
	width:100%;
	box-sizing:border-box;
	font-family:montserrat;
	color:#2c3e50;
	font-size:13px;
}

#msform select{
	padding:30px 15px;
	height:45px;
}

/*botones*/
#msform .action-button{
	width:100px;
	background:#f39b2e;
	font-weight:bold;
	color:white;
	border:0 none;
	border-radius:1px;
	cursor:pointer;
	padding:10px 5px;
	margin:10px 5px;
}

/* encabezados */
.fs-title{
	font-size:15px;
	text-transform:uppercase;
	color:#2c3e50;
	margin-bottom:10px;
}

.fs-subtitle{
	font-weight:normal;
	font-size:13px;
	color:#666;
	margin-bottom:20px;
}

/* BARRA DE PROGRESO (progressbar) */

#progressbar{
	margin-bottom:30px;
	overflow:hidden;
	counter-reset:step;
}

#progressbar li{
	list-style-type:none;
	color:white;
	text-transform:uppercase;
	font-size:9px;
	width:33.33%;
	float:left;
	position:relative;
}

#progressbar li:before{
	content: counter(step);
	counter-increment: step;
	width:20px;
	line-height:20px;
	display:block;
	font-size:10px;
	color:#333;
	background:white;
	border-radius:3px;
	margin:0 auto 5px auto;
}

#progressbar li:after{
	content:'';
	width:100%;
	height:2px;
	background:white;
	position:absolute;
	left:-50%;
	top:9px;
	z-index: -1;
}

#progressbar li:first-child:after{
	content:none;
}

#progressbar li.active:before, #progressbar li.active:after{
	background:#f39b2e;
	color:white;
}

















