@charset "UTF-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
body{
	background:#00001C url(bg.jpg) no-repeat top right;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
	width:400px;
	margin-left:50px;
	color:#fff;
	padding:20px;
}

h1{
	font-size:1.5em;
	text-align:left;
	margin-bottom:10px;
}

h1:hover{
	color:#bd44bd;
	text-shadow:2px -1px 13px #bd44bd;
}

p{
	margin:20px 0 0 0;
	font-size:0.8em;
	line-height:1.4em;
	color: #fff;
}

strong{
	color:#bd44bd;
}

span{
	text-decoration:underline;
	color:#CFC4AE;
}
span.especial{
	font-size:1.2em;
	color:yellow;
	text-decoration:none;
}
abbr,dfn,acronym{
	font-weight:bold;
	font-size:1.1em;
}
abbr{
	color:#CDE575;
}
dfn{
	color:blue;
}
acronym{
	color:green;
}
blockquote{
	color:#fff;
	font-size:0.8em;
	line-height:1.5em;
	padding:5px;
	margin-left:20px;
	font-style:italic;
}
.parrafo2{
	margin-left:50px;
	font-size:1.1em;
}


.pie{
	position:fixed;
	width:100%;
	height:20px;
	background:yellow;
	bottom:0;
}




















