@charset "UTF-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Pacifico);

.jumbotron h1{
	font-size:2.3em;
	text-align:right;
	font-family: 'Pacifico', cursive;
}

.jumbotron p{
	text-align:right;
	margin-left:30%;
	font-size:0.9em;
	margin-top:1em;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height:1em;
}

@media (min-width: 480px) {
.jumbotron p{
	margin-left:50%;
	font-size:1em;
}
	
}