@charset "UTF-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

body{
	background:rgba(243,209,180,1.00) url(images/bg.png);
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1.5em;
	text-align:center;
	color:#000;
	margin:50px 0;
}

.te-container{
	width:40%;
	max-width:500px;
	margin:0 auto;
	background:rgba(114,114,114,1.00);
	height:435px;
	border:5px solid rgba(114,114,114,1.00);
}

.te-wrapper{
	position:relative;
	width:100%;
}

.te-wrapper img{
	width:100%;
	border:3px solid #fff;
	box-sizing:border-box;
}

.te-next{
	width:100%;
	display:block;
	padding:0.5em 0;
	color:#fff;
	text-decoration:none;
	background:rgba(114,114,114,1.00);
	text-align:center;
}

footer{
	position:absolute;
	bottom:0;
	width:100%;
	background:rgba(228,166,29,1.00);
}

footer ul{
	width:600px;
	margin:0 auto;
	list-style:none;
}

footer ul li{
	width:25%;
	float:left;
}

footer ul li a{
	display:block;
	color:#fff;
	text-decoration:none;
	padding:20px 0;
	text-align:center;
	font-weight:bold;
}

footer ul li a:hover, footer ul li a.active{
	background:rgba(198,121,9,1.00);
}


/* EFECTOS DE IMÁGENES */
.te-transition,
.te-cover.te-hide,
.te-images{
	display:none;
}

.te-perspective {
	-webkit-perspective: 1000px;
}

.te-transition,
.te-cover{
	position:absolute;
	width:500px;
	height:400px;
	top:0;
	left:0;
}

.te-transition.te-show{
	display:block;
}

.te-card,
.te-back,
.te-front{
	width:100%;
	height:100%;
	position:absolute;
}

.te-card{
	-webkit-transform-style:preserve-3d;
}

.te-front,
.te-back{
	-webkit-backface-visibility:hidden;
}

.te-back{
	-webkit-transform:rotate3d(1,0,0,-180deg);
}











