@charset "UTF-8";
/* CSS Document */

/*Con esto conseguimos que las fotos sean responsive*/
.img-responsive{
	width:100%;
}

div{
	width:100%;
}

*, *:before, *:after{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.container{
	margin:0 auto;
}

/* Tamaño tablet (a partir de 768px)*/
@media (min-width: 768px){
	.container{
	width:80%;
	}
}

/* Tamaño escritorio (a partir de 960px)*/
@media (min-width: 960px){
	.container{
	width:800px;
	}
	h1{
	font-size:2.1em;
	}

	h2{
	font-size:1.6em;
	}
}