@charset "UTF-8";

	*{
		margin:0;
		padding:0;
	}
	body{
		font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	.laptop2{
		display:none;
	}
	.pin{
		display:none !important;
	}
	.menu_especial{
		width:100% !important;
		margin-top:0;
		list-style:none;
	}
	.menu_especial li{
		width:100% !important;
		text-align:left;
		float:left;
	}
	.marron{
		background:rgba(45,30,18,1.00);
	}
	.beis{
		background:rgba(212,194,153,1.00);
	}
	.verde{
		background:rgba(156,193,39,1.00);
	}
	
	a.menu{
		color:#fff !important;
		font-size:1.2em;
		display:block;
		text-decoration:none;
		padding:7px 0 7px 10px;
	}

	
@media (min-width: 767px){
	.laptop{
		display:none;
	}
	.laptop2{
		display:block;
	}
	.pin{
		display:block !important;
	}
	.menu_especial{
		position:relative;
		margin-top:-48px;
	}
	.menu_marron{
		background:url(../images/menu_brown.png) no-repeat right;
		max-width:500px;
		position:absolute !important;
		z-index:300;
		right:480px;
	}
	.menu_beis{
		background:url(../images/menu_beis.png) no-repeat right;
		max-width:500px;
		position:absolute !important;
		z-index:200;
		right:200px;
	}
	.menu_verde{
		background:#9cc127;
		max-width:400px;
		position:absolute !important;
		z-index:100;
		right:0px;
	}
	.menu_especial a{
		color:#fff !important;
		font-size:1.2em;
		display:block;
	}
	
	a.productos{
		margin-left:40%;
	}
	a.contenedor{
		margin-left:45%;
	}
	a.marca{
		margin-left:50%;
	}
	.menutop{
		margin:20px 20px 0 0;
	}
}









