@charset "UTF-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

*{
	margin:0;
	padding:0;
}

body{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
	width:100%;
}

/* ESTILOS DEL HEADER */ 
header{
	width:100%;
	min-height:470px;
	background:url(../images/fondo.jpg) no-repeat bottom center;
	background-size:cover;
}

h1{
	padding-top:4%;
	padding-left:7%;
}

h1 img{
	max-width:311px;
}

h2{
	color:#fff;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:2.3em;
	padding-left:6%;
	padding-top:0;
	line-height:1.3em;
	font-weight:lighter;
	text-shadow:2px 2px 9px #000;
}

.ofertas{
	font-size:1.5em;
	padding:15px 25px;
	background:#e04141;
	float:right;
	margin-top:60px;
	margin-right:40px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight:lighter;
	border-radius:20px;
	border:3px solid #8dbd4b;
	box-shadow:1px 1px 15px #000;
}

a.ofertas:link, a.ofertas:visited{
	text-decoration:none;
	color:#fff;
}

a.ofertas:hover{
	background:#e68d31;
}









