@charset "UTF-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header.inicio{
	width:100%;
	position:relative;
}

header.inicio img{
	width:100%;
}

header.inicio h1{
	text-align:right;
	width:40%;
	float:right;
	font-family: 'Indie Flower', cursive;
	font-size:3em;
	line-height:1em;
	position:absolute;
	top:2em;
	right:0.5em;

}

@media only screen and (max-width:500px){
	header.inicio h1{
		font-size:1.4em;
		line-height:1.2em;
	}
}

