@charset "UTF-8";
/* CSS Document */

body{
	background: url(fondo.jpg) center fixed;
	background-size:cover;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1{
	color:#fff;
}

.clearfix{
	clear:both;
}

/* DIBUJO ÓRBITAS Y PLANETAS SISTEMA SOLAR*/

ul.sistemasolar{
	position:relative;
	height:640px;
	list-style:none;
	transition:all 0.09s ease-in;
	overflow:hidden;

}

ul.sistemasolar li{
	text-indent: -9999px;
	display:block;
	position:absolute;
	border:2px solid #394057;
}


ul.sistemasolar li span{
	display: block;
	position:absolute;
	width:10px;
	height:10px;
	border-radius:5px;
}

ul.sistemasolar li.active.sol,
ul.sistemasolar li.active span{
	transform:scale(1,3);
}

ul.sistemasolar li.sol{
	width:40px;
	height:40px;
	border-radius:20px;
	background:#fc3;
	 background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.22, rgb(204,153,0)),
        color-stop(1, rgb(255,219,112))
    );
	top: 302px;
	left: 462px;
	border:none;
	box-shadow: 0 0 50px #c90;
	z-index:100;
	transition: all 0.2s ease-in;
}

ul.sistemasolar li.sol span{
	width:60px;
	height:60px;
	border-radius: 30px;
}

ul.sistemasolar li.mercurio{
	width:100px;
	height:100px;
	border-radius:52px;
	top:270px;
	left:430px;
	z-index:99;
}

ul.sistemasolar li.mercurio span{
	background:#b6bac5;
	top:10px;
	left:10px;
}

ul.sistemasolar li.venus{
	width:160px;
	height:160px;
	border-radius:82px;
	top:240px;
	left:400px;
	z-index:98;
}

ul.sistemasolar li.venus span{
	background: #bf8639;
	top:118px;
	left:5px;
}

ul.sistemasolar li.tierra{
	width:220px;
	height:220px;
	border-radius:112px;
	top:210px;
	left:370px;
	z-index:97;
}

ul.sistemasolar li.tierra span{
	background:#06c;
	top:56px;
	left:5px;
}

ul.sistemasolar li.tierra span.luna{
	width:4px;
	height:4px;
	border-radius:2px;
	background:#ccc;
	top:12px;
	left:12px;
}

ul.sistemasolar li.marte{
	width:280px;
	height:280px;
	border-radius: 142px;
	top:180px;
	left:340px;
	z-index:96;
}

ul.sistemasolar li.marte span{
	background:#aa4200;
	top:0;
	left:175px;
}

ul.sistemasolar li.meteoritos{
	top:155px;
	left:315px;
	z-index:1;
	background:url(asteroids_meteorids.png) no-repeat 0 0;
	width:330px;
	height:330px;
	border-radius:165px;
	border:none;
}

ul.sistemasolar li.jupiter{
	width:340px;
	height:340px;
	border-radius:172px;
	top:150px;
	left:310px;
	z-index:95;
}

ul.sistemasolar li.jupiter span{
	background:#e0ae6f;
	top:67px;
	left:24px;
}

ul.sistemasolar li.saturno{
	width:400px;
	height:400px;
	border-radius:202px;
	top:120px;
	left:280px;
	z-index:94;
}

ul.sistemasolar li.saturno span{
	background:#dfd3a9;
	top:24px;
	left:300px;
}

ul.sistemasolar li.saturno span.anillos{
	width:12px;
	height:12px;
	border-radius:8px;
	background:none;
	border:2px solid #5a4e34;
	left:-3px;
	top:-3px;
	transform:skewY(50deg)
}

ul.sistemasolar li.urano{
	width:460px;
	height:460px;
	border-radius:232px;
	top:90px;
	left:250px;
	z-index:93;
}

ul.sistemasolar li.urano span{
	background:#82b3d1;
	top:7px;
	left:300px;
}

ul.sistemasolar li.neptuno{
	width:520px;
	height:520px;
	border-radius:262px;
	top:60px;
	left:220px;
	z-index:92;
}

ul.sistemasolar li.neptuno span{
	background:#77c2ec;
	top:0;
	left:200px;
}

ul.sistemasolar li.pluton{
	width:580px;
	height:580px;
	border-radius:292px;
	top:30px;
	left:190px;
	z-index:91;
}

ul.sistemasolar li.pluton span{
	background:#7c6a5c;
	top:79px;
	left:79px;
}









