@charset "UTF-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.grid{
	-moz-box-shadow: 0px -1px 14px #000000;
	-webkit-box-shadow: 0px -1px 14px #000000;
	box-shadow: 0px -1px 14px #000000;
}

header.inicio{
	width:100%;
	position:relative;
}

header.inicio img{
	width:100%;
}

header.inicio h1{
	text-align:right;
	width:40%;
	float:right;
	font-family: 'Indie Flower', cursive;
	font-size:3em;
	line-height:1em;
	position:absolute;
	top:2em;
	right:0.5em;

}

/* MENÚ PRINCIPAL */
nav.menu{
	width:100%;
}

nav.menu ul{
	list-style:none;
	padding:0;
	margin:2px 0 0 0;
}

nav.menu ul li{
	width:25%;
	float:left;
	text-align:center;
	border-left:2px solid #fff;
}

nav.menu ul li:first-child{
	border-left:1px solid #A9A6A6;
}
nav.menu ul li:last-child{
	border-right:1px solid #A9A6A6;
}

nav.menu ul li a:link, nav.menu ul li a:visited{
	display:block;
	padding:10px 0;
	text-decoration:none;
	background:#A9A6A6;
	color:#fff;
}
nav.menu ul li a:hover, nav.menu ul li a.activa{
	background:#595656;
}

/* BARRA LATERAL */
aside{
	background:#C5CBBE;
	padding-bottom:3em;
}

aside h1{
	font-family: 'Indie Flower', cursive;
	line-height:1em;
	margin-top:0.5em;
	text-align:center;
	font-size:1.6em;
}

aside article{
	border-top:3px solid #fff;
}

aside article img{
	margin-top:10px;
}

/* ARTICLES */
section h1{
	color:#D14FC1;
	font-weight:lighter;
	margin-top:0.6em;
	font-size:1.8em;
	line-height:1em;
}

section h2{
	color:#595656;
	margin-top:0.2em;
	font-size:1.2em;
	line-height:1.1em;
}

@media only screen and (max-width:500px){
	header.inicio h1{
		font-size:1.4em;
		line-height:1.2em;
	}
	
	nav.menu ul li{
	width:100%;
	border-bottom:2px solid #fff;
	font-size:1.3em;
	}
	nav.menu ul li a:link, nav.menu ul li a:visited{
	padding:3px 0;
	}
	
	aside h1{
		font-size:2.3em;
	}
	
	section h1{
		font-size:2.4em;
	}
	
	section h2{
	font-size:1.4em;
	line-height:1.1em;
}
}

