@charset "UTF-8";
/* CSS Document */

body{
	margin: 0;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	border-width: medium;
}

/* IMAGEN SUPERIOR */
.superior{
	background:transparent url(../img/superior.jpg) no-repeat top;
	height:18em;
	width:100%;
	position:absolute;
	top:0;
	z-index:-1;
}

/*IMAGEN INFERIOR*/
.inferior{
	height:18em;
	background:transparent url(../img/inferior.jpg) no-repeat bottom;
	bottom:0;
}


/* MENÚ */
.menu {
	width:100%;
	background:rgba(0,0,0,.75);
	border-bottom:2px solid orange;
	display:block;
	text-align:center;
	position:fixed;
	top:0;
	z-index:100;
}

.menu ul{
}

.menu ul li{
	display:inline;
	list-style:none;
}

.menu ul li a:link, .menu ul li a:visited{
	color:white;
	display:inline-block;
	padding:1em;
	text-decoration:none;
	text-transform:uppercase;
}

.menu ul li a:hover{
	background:orange;
}

/* CORRECCIONES MENÚ RESPONSIVE*/
.rmm-button {
	right:0 !important;
}

.rmm-button span{
	background-color:white !important;
}

.rmm-toggled-title{
	left:35px !important;
	color:white !important;
}

.menu a{
	color:white !important;
}

/* PRESENTACIÓN */
.content{
	position:relative;
	top:9.5em;
	background:white;
	margin:0 auto;
	padding:2em 3.25em;
	text-align:center;
}

h1, h2{
	text-align:center;
	font-weight:lighter;
}

h1{
	color:#B61137;
	font-size:1.5em;
}

h2{
	color:#484646;
	font-size:1.2em;
}

p{
	line-height:1.2em;
}

/* SERVICIOS */
.servicios{
	text-align:center;
	margin:0 auto;
	background-color:white;
	padding:1.5 em 3.25em;
	position:relative;
	top:8.125em;
	border-top:1px solid #8E8B8B;
}

h3{
	font-weight:normal;
	font-size:1.1em;
}
h3 span{
	color:#B61037;
}

.servicios img{
	border:2px solid #B61037;
}

/* SOCIAL */
.social{
	text-align:center;
	margin:0 auto;
	padding:1.5em;
	position:relative;
	top:8.125em;
	border-top:1px solid #8E8B8B;
}

/* CONTACTO FORMULARIO */
.contacto{
	position:relative;
	top:9em;
	margin:0 auto;
	background:#999;
	padding:1.5em;
}

input, textarea, label{
	margin-top:.5em;
	display:block;
	width:100%;
}

label{
	font-weight:bold;
}

input[type="text"]{
	height:2.5em;
	font-size:1em;
	color:#B61037;
}

button{
	border:2px solid white;
	padding:.75em;
	text-transform:uppercase;
	background-color:black;
	color:white;
}

.btn{
	margin-top:1.5em;
}

.btn:hover{
	background:#737070;
}

/* FOOTER */
footer{
	position:fixed;
	bottom:0;
	background:black;
	text-align:center;
	color:orange;
	width:100%;
	border-top:2px solid orange;
}

footer p{
	font-size:0.8em;
}

footer a:link, footer a:visited{
	color:orange;
	text-decoration:underline;
}

footer a:hover{
	text-decoration:none;
}
















