@charset "UTF-8";

*{
	margin:0;
	padding:0;
}

body{
  font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  }
  
.container{
	width:80%;
	max-width:1000px;
	margin:0 auto;
}

/*HEADER*/


/*MENU*/ 


/*ASIDE*/ 


/*SECTION*/ 

  
/*ENLACES ASIDE*/ 


/*FOOTER*/
