/* CSS Document */

#cajasoltar{
float: left;
width: 300px;
height: 300px;
margin: 10px;
border: 1px solid #999999;
}
#cajaimagenes{
float: left;
width: 320px;
margin: 10px;
border: 1px solid #999999;
} 
#cajaimagenes >
img{
float: left;
padding: