@charset "UTF-8";
/* CSS Document */
#cajasoltar{
	float:left;
	width:300px;
	height:300px;
	margin:10px;
	border:2px solid #999;

	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#cajaimagenes{
	float:left;
	width:300px;
	height:300px;
	margin:10px;
	border:2px solid #999;
}

#cajaimagenes img, #cajasoltar img{
	width:200px;
}