@charset "UTF-8";

	*{
		margin:0;
		padding:0;
	}
	body{
		font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
		padding-top:70px;
	}
	.laptop2{
		display:none;
	}
	.pin{
		display:none !important;
	}
	.menu_especial{
		width:100% !important;
		margin-top:0;
		list-style:none;
	}
	.menu_especial li{
		width:100% !important;
		text-align:left;
		float:left;
	}
	.marron{
		background:rgba(45,30,18,1.00);
	}
	.beis{
		background:rgba(212,194,153,1.00);
	}
	.verde{
		background:rgba(156,193,39,1.00);
	}
	
	a.menu{
		color:#fff !important;
		font-size:1.2em;
		display:block;
		text-decoration:none;
		padding:7px 0 7px 10px;
	}
	.carousel{
		margin-top:190px;
	}
	.col-xs-6 p, .col-xs-6 ul{
		width:80%;
		font-size:1.2em;
		margin:0 auto;
		text-align:justify;
	}
	.icono{
		width:80px;
		margin:20px auto 0 auto;
	}
	.icono img{
		width:100%;
	}
	.h2icono{
		text-align:center;
		color:rgba(79,44,18,1.00);
	}
	.plantas{
		padding-bottom:50px;
		background:url(../../1_primeros_pasos/images/plantas.png) no-repeat right bottom;
	}
	.izquierda, .centro, .derecha2{
		opacity:0;
	}
	
	.cabecera{
		margin-top:0;
		position:relative;
	}
	
	.cabecera h1{
		position:absolute;
		font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
		color:#fff;
		font-size:1.6em;
		z-index:5000 !important;
		text-transform:uppercase;
		top:30%;
		left:10%;
		width:60%;
		
	}
	
	.parallax-window{
		min-height:350px;
		background:transparent;
	}
	.brown{
		background:url(../images/backgroun_marron.png);
		color:#4f2c12;
		float:left;
		width:100%;
	}
	.green{
		background:url(../images/fondo_verde.png) repeat-x;
		color:#4f2c12;
		float:left;
		width:100%;
	}
	.brown img{
		width:80%;
		margin-left:8%;
		opacity:0;
	}
	.green img{
		width:100%;
		opacity:0;
	}
	.brown h2, .green h2, .brown h3, .brown p, .green p{
		width:80%;
		margin:10px auto;
		text-align:left;
	}
	.brown h2, .green h2{
		font-size:2em;
	}
	.brown h3, .green h3{
		font-size:1.5em;
	}
	.brown p{
		font-size:1.2em;
	}
	footer{
		width:100%;
		background:#29180f;
		float:left;
		padding:4% 10%;
		color:#fff;
	}
	
	.redes_movil{
		width:90%;
		margin:30px auto;
		overflow:hidden;
		
	}
	
	.redes{
		margin-top:3.2%;
		list-style:none;
		float:left;
		margin-left:26%;
	}
	
	.redes li{
		float:left;
		width:40px;
		height:41px;
		margin-right:5px;
	}
	
	a.facebook{
		background:url(../images/redes.png) no-repeat 0 0;
		display:block;
		min-height:42px;
	}
	
	a.instagram{
		background:url(../images/redes.png) no-repeat -160px 0;
		display:block;
		min-height:42px;
	}
	
	a.twitter{
		background:url(../images/redes.png) no-repeat -120px 0;
		display:block;
		min-height:42px;
	}

@media (max-width: 767px){	
	.col-md-4{
		width:100%;
	}
}

	
@media (min-width: 768px){
	.laptop{
		display:none;
	}
	.laptop2{
		display:block;
	}
	.pin{
		display:block !important;
	}
	.menu_especial{
		position:relative;
		margin-top:-48px;
	}
	.menu_marron{
		background:url(../images/menu_brown.png) no-repeat right;
		max-width:500px;
		position:absolute !important;
		z-index:300;
		right:480px;
	}
	.menu_beis{
		background:url(../images/menu_beis.png) no-repeat right;
		max-width:500px;
		position:absolute !important;
		z-index:200;
		right:200px;
	}
	.menu_verde{
		background:#9cc127;
		max-width:400px;
		position:absolute !important;
		z-index:100;
		right:0px;
	}
	.menu_especial a{
		color:#fff !important;
		font-size:1.2em;
		display:block;
	}
	
	a.productos{
		margin-left:40%;
	}
	a.contenedor{
		margin-left:45%;
	}
	a.marca{
		margin-left:50%;
	}
	.menutop{
		margin:20px 20px 0 0;
	}
	.carousel{
		margin-top:0px;
	}
	.parallax-window{
		min-height:500px;
	}
	.cabecera{
		margin-top:20px;
	}
	.cabecera h1{
		font-size:2.3em;
		width:45%;
		line-height:1.5em;
	}
	.brown img{
		width:30%;
		margin-left:10%;
		float:left;
		opacity:0;
	}
	.green img{
		width:58%;
		float:right;
		margin-right:0;
		opacity:0;
	}
	.brown h2, .green h2{
		font-size:2.5em;
		margin-top:8%;
	}
	.brown h3, .green h3{
		font-size:2em;
	}
	.brown p, .green p{
		font-size:1.5em;
	}
	
	.redes_movil{
		width:30%;
		margin:30px auto;
		overflow:hidden;
	}
	
	
}









