@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/
*{
	box-sizing:border-box;
}

body{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1em;
}

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */
  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	clear: none;
	float: none;
}
#div1 {
}
.zeroMargin_mobile {
    margin-left: 0;
}
.hide_mobile {
    display: none;
}

/*MENÚ PRINCIPAL*/
#nav_mobile{
	background:#B2104E;
	font-size:1.2em;
	padding:8px 0;
	list-style:none;
	text-align:center;
	color:#fff;
	cursor:pointer;
}
#oculto{
	display:none;
}
#menu{
	width:100%;
	overflow:hidden;
}

#menu ul{
}

#menu ul li{
	float:left;
	overflow:hidden;
	list-style:none;
	width:100%;
	background:#424242;
	text-align:center;
	border:1px solid #ddd;
}

#menu ul li:hover{
	background:#8A8A8A;
	cursor:pointer;
}

#menu ul li a:link, #menu ul li a:visited{
	display:block;
	padding:10px 0;
	color:#fff;
	text-decoration:none;
}

#menu li img{
	margin:0 0 -2px 0;
}

#menu ul li ul{
	position:relative;
	margin:2px 0 0 0;
	padding:0px;
	width:100%;
	overflow:hidden;
	display:none;
}

#menu ul li ul li{
	background:#575757;
	width:100%;
}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.gridContainer {
	width: 100%;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
}
.zeroMargin_tablet {
    margin-left: 0;
}
.hide_tablet {
    display: none;
}
#menu ul li{
	width:25%;
}
#menu ul li ul{
	width:25%;
		max-width:300px;
		position:absolute;
}
#nav_mobile{
	display:none;
}
#oculto{
	display:block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

.gridContainer {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
}
.zeroMargin_desktop {
    margin-left: 0;
}
.hide_desktop {
    display: none;
}

}