@charset "UTF-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

body{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background:#f8ddbc url(images/bg1.jpg) no-repeat center top;
}

@font-face{
	font-family:Best_Future_Light;
	src:url(sources/Best_Future_Light_V1.otf);
}

@font-face{
	font-family:Best_Future_Bold;
	src:url(sources/Best_Future_Bold_V1.otf);
}

@font-face{
	font-family:Best_Future_Medium;
	src:url(sources/Best_Future_Medium_V1.otf);
}

.container{
	width:1000px;
	height:700px;
	margin:0 auto;
	position:relative;
}

.content{
	width:1000px;
	height:700px;
	background:url(images/index_bk.png) no-repeat;
	box-shadow:4px 5px 12px #424142;
	position:absolute;
	left:0;
	top:0;
	z-index:100;
}

.content_productos_interior{
	width:1000px;
	height:700px;
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	background:url(images/toys_bg.png) no-repeat;
	box-shadow:4px 5px 12px #424142;
}

.background{
	position:absolute;
	top:0;
	left:0;
	z-index:50;
}
.estrellas{
	position:absolute;
	top:0;
	left:20px;
	z-index:150;
	display:none;
	opacity:0;
}
.idiomas{
	position:absolute;
	top:15px;
	right:0;
	z-index:150;
	width:133px;
	height:57px;
	background:url(images/idiomas.png) no-repeat top left;
}

.idiomas ul{
	float:left;
	list-style:none;
	margin-top:10px;
	margin-left:10px;
}


.idiomas ul li{
	display:inline;
}

.logo{
	width:236px;
	margin:75px auto 0 auto;
	display:none;
}

.menu{
	font-family:Best_Future_Medium;
	float:right;
	margin-top:90px;
	width:355px;
	margin-right:160px;
	display:none;
}

.menu ul{
	float:left;
	width:255px;
	list-style:none;
}

.menu ul li{
	text-align:center;
	margin-bottom:35px;
	margin-top:15px;
}

.menu ul li a:link, .menu ul li a:visited{
	color:#fff;
	font-size:19px;
	text-decoration:none;
	letter-spacing:2px;
	margin-top:15px;
}

.menu ul li a:hover{
	opacity:0.8;
}

.menu ul li a.blue:link, .menu ul li a.blue:visited{
	background:url(images/blue_button.png) no-repeat center bottom;
	padding:25px 45px;
}

.menu ul li a.orange:link, .menu ul li a.orange:visited{
	background:url(images/orange_button.png) no-repeat center bottom;
	padding:25px 65px;
}

.menu ul li a.pink:link, .menu ul li a.pink:visited{
	background:url(images/pink_button.png) no-repeat center bottom;
	padding:25px 62px;
}

.menu li:hover > ul{
	display:block;
}

.menu ul li ul {
	color:#5861a7;
	background:#f7daad;
	width:180px;
	margin-left:40px;
	margin-bottom:15px;
	min-height:60px;
	padding-top:25px;
	border:dashed 0px #000;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	display:none;
}

.menu ul li ul li{
	margin:10px 0;
	padding:0 0 0 10px;
	text-align:left;
	list-style:inside;
}

.menu ul li ul li a:link, .menu ul li ul li a:visited{
	color:#0188D4;
	margin-top:20px;
}

.logo_w{
	margin-top:40px;
}

/* SIDEBAR */
.sidebar{
	width:250px;
	float:left;
}
.logo_productos{
	margin-top:20px;
	margin-left:25px;
}

.edad_juguetes p{
	padding:0;
	margin-top:20px;
	width:100px;
	color:#fff;
	font-family:Best_Future_Bold;
	font-size:50px;
	text-align:center;
	line-height:25px;
}

.edad_juguetes span{
	font-size:25px;
	font-family:Best_Future_Medium;
}

.bloque{
	width:250px;
	min-height:387px;
	max-height:387px;
	margin-top:0;
	background:url(images/bloque_productos.png) no-repeat;
	color:#fff;
}

.bloque h2{
	font-size:18px;
	font-family:Best_Future_Bold;
	min-height:70px;
	width:80%;
	margin:0 auto;
	padding-top:15px;
	padding-left:10px;
}

.bloque p{
	font-family:Best_Future_Medium;
	font-size:11px;
	color:#666;
	width:80%;
	margin:5px auto;
	padding-top:5px;
	border-top:1px #09388b solid;
}

.referencias{
	font-family:Best_Future_Medium;
	font-size:11px;
	color:#666;
	width:80%;
	margin:5px auto;
	padding-top:5px;
	border-top:1px #09388b solid;
}

.referencias ul{
	list-style:none;
}

.referencias ul li{
	float:left;
	width:80%;
}

.redondel{
	position:absolute;
	background:url(images/redondel.png) no-repeat;
	right:20px;
	top:290px;
	width:310px;
	height:310px;
	z-index:200;
}
.redondel img{
	width:290px;
	border-radius:100%;
	margin-left:10px;
	margin-top:5px;
}


/*BOTONES*/
.content_productos, .content_productos2, .content_productos3{
	width:1000px;
	height:700px;
	position:absolute;
	top:0;
	left:0;
	z-index:200;
}

.producto2{
	display:none;
}
.content_productos3, .content_productos{
	display:none;
}




