@charset "UTF-8";
/* CSS Document */

body{
	background:url(images/sonrisa.jpg) no-repeat center fixed;
	background-size:cover;
}

.transparente{
	background:none;
}

.header{
	width:100%;
	margin:0 auto;
	padding:0 !important;
	background:#fff !important;
	text-align:center;
	height:109px;
}

h1{
	margin:0;
}

.header div{
	width:318px;
	margin:0 auto;
}

.header div img{
	width:100%;
}

.contenido_home{
	width:45%;
	background:rgba(255,255,255,0.60);
	position:absolute;
	bottom:50px;
	right:0;
	border-top-left-radius:20px;
}

h3{
	margin:0;
}

.contenido_protocolo{
	position:absolute;
	z-index:100;
	background:rgba(48,48,48,0.90);
	width:100%;
	height:70%;
	padding-top:5em;
	text-align:center;
	display:none;
}

.contenido_protocolo span{
	color:#fff;
	font-size:10em;
	font-weight:bold;
}

.video{
	position:absolute;
	z-index:200;
	background:rgba(48,48,48,0.90);
	width:100%;
	height:70%;
	padding:0;
	display:none;
}






