@charset "UTF-8";
/* CSS Document */

.header{
	color:brown;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background:white url(images/melopido.jpg) no-repeat center top;
	background-size:cover;
	min-height:60px;
}
