@charset "UTF-8";

body{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1em;
}

img, object, embed, video {
	max-width: 100%;
}

.ie6 img {
	width:100%;
}

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */
  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 94%;
	padding-left: 0;
	padding-right: 0;
	clear: none;
	float: none;
}
#div1 {
}
.zeroMargin_mobile {
    margin-left: 0;
}
.hide_mobile {
    display: none;
}

.one_column_movil{
	margin:10px;
}
.one_column_movil p{
	font-size:1em;
	line-height:1.6em;
}

.img_responsive{
	width:95%;
	margin:10px auto;
	background:white;
	border:3px solid #9f9595;
	box-sizing:border-box;
	border-radius:23px;
}

.img_responsive img{
	width:100%;
}

.bigleft{
	width:95%;
	margin:0 auto;
	background:red;
	min-height:300px;
}

.smallright{
	width:95%;
	margin:10px auto 30px auto;
	background:green;
	min-height:300px;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
}
.zeroMargin_tablet {
    margin-left: 0;
}
.hide_tablet {
    display: none;
}
.dos_column_tablet{
	-webkit-column-count:2;
	-moz-column-count:2;
	column-count:2;
	
	-webkit-column-gap:30px;
	-moz-column-gap:30px;
	column-gap:30px;
	
	-webkit-column-rule:2px solid rgb(75, 180, 149);
	-moz-column-rule:2px solid rgb(75, 180, 149);
	column-rule:2px solid rgb(75, 180, 149);
}
.img_responsive{
	width:48%;
	margin:5px 1%;
	float:left;
}
.bigleft{
	width:98%;
	margin:1% auto 0 auto;
}

.smallright{
	width:98%;
	margin:2% auto 2% auto;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

.gridContainer {
	width: 88.5%;
	max-width: 1232px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
}
.zeroMargin_desktop {
    margin-left: 0;
}
.hide_desktop {
    display: none;
}
.tres_column_pc{
	-webkit-column-count:3;
	-moz-column-count:3;
	column-count:3;
	
	-webkit-column-gap:25px;
	-moz-column-gap:25px;
	column-gap:25px;
	
	-webkit-column-rule:2px solid rgb(75, 180, 149);
	-moz-column-rule:2px solid rgb(75, 180, 149);
	column-rule:2px solid rgb(75, 180, 149);
}
.tres_column_pc p{
	line-height:1.3;
}

.img_responsive{
	width:24%;
	margin:5px 0.3%;
	float:left;
}

.bigleft{
	width:65%;
	float:left;
	margin-top:1%;
}

.smallright{
	width:33%;
	float:right;
	margin-top:1%;
}

}