@charset "UTF-8";
/* CSS Document */

body{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header{
	color:brown;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background:white url(images/melopido.jpg) no-repeat center top;
	background-size:cover;
	min-height:60px;
}

h3{
	text-align:center;
	background:#6E6E6E;
	color:#fff;
	font-weight:lighter;
	padding:6px 0;
}

p{
	width:100%;
	margin:0 auto;
	text-align:justify;
}

div.imagen{
	width:1005;
	margin:10px auto 0 auto;
	
}

div.imagen img{
	width:100%;
	border:2px solid #6E6E6E;
	box-sizing:border-box;
}

.pie{
	width:100%;
	position:fixed;
	bottom:0;
}




