@charset "UTF-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-mox-box-sizing:border-box;
}

body{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1em;
	padding:20px 15%;
}

form header{
	margin:0 0 20px 0;
}

form header div{
	font-size:90%;
	color;#999;
}

form header h1{
	margin:0 0 5px 0;
	font-size:2em;
	font-weight:lighter;
	color:#CA189D;
}

form > div{
	clear:both;
	overflow:hidden;
	padding:1px;
	margin:0 0 10px 0;
}

form > div > fieldset > div > div {
	margin:0 0 5px 0;
}

form > div > label, legend{
	width:25%;
	float:left;
	padding-right:10px;
}

form > div > div, form > div > fieldset > div {
	width:75%;
	float:right;
}

form > div > fieldset label {
	font-size:90%;
}

fieldset{
	border:0;
	padding:0;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea{
	width:100%;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #eee;
	border-bottom:1px solid #eee;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password]
{
	width:50%;
}

select{
	width:30%;
	height:30px;
}

input[type=submit]{
	margin-left:25%;
	font-size:1em;
	width:110px;
	height:30px;
	background:#DDD9D9;
	border:none;
}

input[type=submit]:hover{
	background:#5B5A5A;
	color:#fff;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus{
	border-color:#4697e4;
	outline:0;
}

@media (max-width:600px){
	
	form > div{
		margin:0 0 15px 0;
	}
	
	form > div > label,
	legend{
		width:100%;
		float:none;
		margin:0 0 5px 0;
		font-weight:bold;
	}
	
	form > div > div,
	form > div > fieldset > div {
		width:100%;
		float:none;
	}
	
	input[type=text],
	input[type=email],
	input[type=url],
	input[type=password],
	textarea,
	select{
		width:100%;
		font-size:1em;
		padding:0.3em 0.5em;
		color:#CA189D;
	}
	select{
		margin-top:10px;
	}
	
}


@media (min-width:1200px){
	form > div > label,
	legend{
		text-align:right;
	}
}

















