@charset "UTF-8";
/* CSS Document */

.page-header{
	background:#F6EDCA;
	padding-top:1em;
}

.page-header h1{
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height:1em;
}

.page-header small{
	color:blue;
}

.contenedor{
	width:20%;
	margin:3em auto;
}