@charset "UTF-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

body{
	background:#303030 url(../img/bg.png);
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
	width:600px;
	margin:50px auto;
	min-height:600px;
	background:url(../img/fondo.png);
	-moz-box-shadow: 1px 0px 16px #fff;
	-webkit-box-shadow: 1px 0px 16px #fff;
	box-shadow: 1px 0px 16px #fff;
	border-radius: 0 0 25px 25px;
	padding:10px;
}

header{
	height:100px;
	background:url(../img/header_bg.png) repeat-x;
	color:#fff;
}

h1{
	text-align:center;
	color:#fff;
	font-size:1.5em;
	padding-top:70px;
}

nav{
	height:40px;
	background:#F3C0BE;
	margin-top:10px;
}

nav ul{
	width:100%;
}

nav ul li{
	width:33.3%;
	float:left;
	text-align:center;
	list-style:none;
}

.botonhome{
	width:50%;
}

nav ul li a:link, nav ul li a:visited{
	display:block;
	height:40px;
	line-height:40px;
	text-decoration:none;
	color:#000;
}

.izquierdo{
	background:#F3C0BE;
}

.derecho{
	background:#E98380;
}

nav ul li a:hover{
	background:#969090;
}

section{
	height:360px;
	margin-top:10px;
	background:#fff;
	padding:20px;
}

h2{
	font-size:1.2em;
}

footer{
	height:40px;
	margin-top:10px;
	background:#736F6F;
	border-radius: 0 0 25px 25px;
	color:#fff;
}

footer p{
	text-align:center;
	font-size:0.8em;
	padding-top:13px;
}

footer a:link, footer a:visited{
	color:#fff;	
}

footer a:hover{
	text-decoration:none;
}
