@import url("normalize.css");
/* el * es el selector universal respecto del modelo de caja */

* {
   border: 0;
   margin: 0;
   padding: 0;
}

article {
   background: #011e30;
   margin: .5em;
   min-height: 120px;
}

aside,
#principal {
   display: inline-block;
   font-size: 1rem;
   min-height: 200px;
   vertical-align: top;
   width: 60%;
}

aside {
   width: 35%;
}

body,
html {
   background: #212121;
   color: white;
   font-family: sans-serif;
   font-size: 32px;
   text-align: center;
}

#contenedor {
   /* background: orange; */
   font-size: 0;
   width: 85%;
}

.azul {
   background: #1e6381;
}

/* footer,
header,
nav  */

.fila {
   margin: .25em auto;
   padding: .25em;
   width: 84.5% !important;
}

.titulo {
   /* background: yellow; */
   color: #f60;
   margin: .25em auto;
   width: 90%;
}