@charset "UTF-8";
/* CSS Document */

body{
	background:#fffffa;
}

header{
	width:100%;
}

header nav{
	width:90%;
	max-width:1000px;
	margin:20px auto;
	background:#024959;
}

.menu_bar{
	display:none;
}

header nav ul{
	overflow:hidden;
	list-style:none;
	width:650px;
	margin:0 auto;
}

header nav ul li{
	float:left;
	width:20%;
}

header nav ul li a:link, header nav ul li a:visited{
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
	text-align:center;
}

header nav ul li a:hover{
	background:#037e8c;
}


@media screen and (max-width:800px){
	header nav{
		width:80%;
		height:40%;
		margin:0;
		position:fixed;
	}
	
	header nav ul{
		width:100%;
		margin:0 0 0 2%;
		padding:0;
	}
	
	header nav ul li{
		float:none;
		display:block;
		width:98%;
		text-align:left;
	}
	
	header nav ul li a:link, header nav ul li a:visited{
		text-align:left;
	}
}











