@charset "UTF-8";
/* CSS Document */

/*Con esto conseguimos que las fotos sean responsive*/
.img-responsive{
	width:100%;
}

div{
	width:100%;
}

*, *:before, *:after{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.container{
	margin:0 auto;
}

.row{
	clear:both;
	width:100%;
	display:table;
}

.col{
	float:left;
	padding:1em 1em 0 1em;
}

.btn-default{
	float:right;
}

/* Tamaño tablet (a partir de 768px)*/
@media (min-width: 768px){
	.container{
	width:80%;
	}
	.half-tablet{
	width:50%;
	}
	.one-third-tablet{
		width:33.3333333%;
	}
}

/* Tamaño escritorio (a partir de 960px)*/
@media (min-width: 960px){
	.container{
	width:800px;
	}
	h1{
	font-size:2.1em;
	}
	h2{
	font-size:1.6em;
	}
	.one-quarter-computer{
		width:25%;
	}
	
	.pull-right{
		font-size:1em;
		padding:0.3em 3em;
	}

}