*,
*:after,
*:before {
   border: 0;
   -ms-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 32px;
   text-align: center;
}