@charset "UTF-8";
/* CSS Document */

body{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:0;
}

.container{
	margin:0 auto;
}

header{
	background:#565555;
	color:#fff;
}

footer{
	background:#dedede;
}

main{
	background-color:#efefef;
	overflow:auto;
}

article{
	box-sizing:border-box;
	float:left;
	padding:10px;
	border-top:1px solid #000;
}

p, h1{
	margin:0;
	font-size:1.1em;
	line-height:1.2em;
	
}

h1{
	padding:10px;
	font-weight:lighter;
	text-align:center;
}

footer{
	clear:both;
	overflow:auto;
	padding:1.5%;
	font-size:1em;
	font-weight:bold;
	border-top:1px solid #000;
}

footer div{
	float:left;
	font-style:italic;
}

/*PARA PANTALLAS MÓVILES*/
@media screen and (min-width: 320px){
	div.pie-derecha{
		display:none;
	}
}


/*PARA TABLETS*/
@media screen and (min-width:768px){
	.container{
		width:650px;
	}
	main article:nth-child(2n+1){
		clear:both;
	}
	article{
		width:50%;
	}
}


/*PARA ORDENADORES ESCRITORIO*/
@media screen and (min-width:1024px){
	.container{
		width:960px;
	}
	
	main article:nth-child(2n+1){
		clear:none;
	}
	
	main article:nth-child(3n+1) {
		clear:both;
	}
	
	article{
		width:33.3333%;
	}
	
	footer div.pie-izquierda{
		width:60%;
	}
	
	footer div.pie-derecha{
		width:40%;
	}
	div.pie-derecha{
		display:block;
	}
	p{
		font-size:1em;
		line-height:1.3em;
	}
}



