@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
	color: #fff;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a,
a:focus {
	outline: none;
}

.codrops-header {
	position: relative;
	margin: 0 auto;
	max-width: 60%;
	text-align: center;
}

.codrops-header a {
	outline: none;
	color: #fff;
	text-decoration: none;
	opacity: 0.7;
}

.codrops-header a:hover,
.codrops-header a:focus {
	opacity: 1;
}

.codrops-header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.625em;
	line-height: 1.3;
}

.codrops-header h1 span {
	display: block;
	padding: 0.4em 1em 1em;
	font-size: 60%;
}

.codrops-links {
	margin: 0;
}

.codrops-links a {
	display: inline-block;
	margin: 0 0.6em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 75%;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Demo Buttons Style */
.codrops-demos {
	padding: 2em 0 3em;
	margin-left:5%;
	position:absolute;
	z-index:2000;
}

.codrops-demos a {
	display: inline-block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	outline: none;
	border: 3px solid rgba(0,0,0,0.3);
	color: rgba(0,0,0,0.3);
	text-decoration: none;
	font-weight: 700;
	opacity: 1;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover,
.codrops-demos a:focus {
	border-color: #fff;
	color: #fff;
}

/* Related demos */

.codrops-related {
	padding-bottom: 2em;
	color: rgba(0,0,0,0.4);
}

.codrops-related a {
	display: inline-block;
	margin-top: 0.5em;
}

@media screen and (max-width: 30em) {
	body {
		font-size: 90%;
	}
}

@media screen and (max-height: 29em) {
	.container {
		height: auto;
	}
	.codrops-header {
		position: relative;
		margin: 0 auto;
		height: auto;
		max-width: 100%;
	}
}