@charset "UTF-8";
/* CSS Document */

body{
	color:#fff;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a,
a:focus{
	outline:none;
}

.codrops-demos{
	padding:2em 0 3em;
	margin-left:5%;
}
.codrops-demos a{
	display:inline-block;
	margin:0.5em;
	padding:0.7em 1.1em;
	outline:none;
	border:3px solid rgba(0,0,0,0.5);
	color:rgba(0,0,0,0.5);
	text-decoration:none;
	font-weight:700;
	opacity:1;
	transition:all 0.2s;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover,
.codrops-demos a:focus{
	border-color:#fff;
	color:#fff;
}




