* {
      border: 0;
      margin: 0;
      padding: 0;
}

article {
      margin: .25em auto;
      width: 80%;
}

body,
html {
      background: #1c5f81;
      color: #eee;
      font-size: 32px;
      text-align: center;
}

ul {
      list-style-position: inside;
      text-align: left;
}

/* http://lea.verou.me/humble-border-radius */

#bordes {
      background: black;
      /* border-radius: 1em; */
      border-radius: 1em 0;
      border-radius: 1em .5em 0;
      border-radius: 2em 1em .5em 0;
}

#rgba {
      /* background: #f60; */
      background: rgba(255, 102, 0, .5);
}

@font-face {
      font-family: "Pecita";
      src: url("../fonts/Pecita.eot");
      src: url("../fonts//Pecita.oet#?iefix"), format("embedded-opentype"), url("../fonts//Pecita.ttf"), format("truetype"), url("../fonts//Pecita.svg"), format("svg"), url("../fonts//Pecita.woff"), format("woff");
      /* Web Open Font Format */
}

#fuentes {
      font-family: "Pecita", sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
#fuentes-google {
      font-family: 'Open Sans', sans-serif;
}

#fuentes-unidades {
      font-size: 64px;
}

#fuentes-unidades>p:first-child {
      font-size: 1em;
}

#fuentes-unidades>p:last-child {
      font-size: 1rem;
}

#sombras {
      box-shadow: .3em .3em .25em rgba(0, 0, 0, 75) inset, .3em .3em .5em rgba(255, 102, 0, .7);
      text-shadow: .3em .3em .25em rgba(0, 0, 0, 75), .3em .3em .25em rgba(255, 102, 0, .7);
}

.gradientes {
      height: 300;
}

#glineal {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
      background: #a90329;
      /* Old browsers */
      background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
      /* IE6-9 */
}

#gradial {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#959595+0,0d0d0d+46,010101+50,0a0a0a+53,4e4e4e+76,383838+87,1b1b1b+100;Black+Gloss+Pipe */
      background: #959595;
      /* Old browsers */
      background: -moz-radial-gradient(center, ellipse cover, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%);
      /* FF3.6-15 */
      background: -webkit-radial-gradient(center, ellipse cover, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: radial-gradient(ellipse at center, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b', GradientType=1);
      /* IE6-9 fallback on horizontal gradient */
}

#ajuste-texto {
      background: #333;
      margin: auto;
      width: 100px;
      word-wrap: break-word;
}

#texto-columnas {
      /* prefijos de los navegadores */
      -ms-column-count: 3;
      -ms-column-gap: 1em;
      -ms-column-rule: thin solid black;
      -moz-column-count: 3;
      -moz-column-gap: 1em;
      -moz-column-rule: thin solid black;
      -webkit-column-count: 3;
      -webkit-column-gap: 1em;
      -webkit-column-rule: thin solid black;
      column-count: 3;
      column-gap: 1em;
      column-rule: thin solid black;
}

.tamanio-caja {
      background: #999;
      margin: .5em auto;
      padding: 1em;
      width: 50%;
}

.a-dieta {
      box-sizing: border-box;
}

#fondos-multiples {
      background: url("../img/arbol.png") no-repeat center bottom, url("../img/aves.png") no-repeat center bottom, url("../img/cielo.png") no-repeat center top;
      background-color: skyblue;
      color: #292623;
      height: 700px;
      width: 100%;
}

#fondo-area {
      background: #292623;
      background-clip: border-box;
      background-clip: padding-box;
      background-clip: content-box;
      border: medium dashed #EC673A;
      padding: 1em;
}

#fondo-origen {
      background: #292623 url("../img/html5-3d.jpg") no-repeat;
      border: medium dashed #EC673A;
      background-clip: content-box;
      background-origin: padding-box;
      background-origin: border-box;
      background-origin: content-box;
      padding: 1em;
}

#fondo-tamanio{
      background:#292623 url("../img/html5-3d.jpg") no-repeat bottom center;
      background-size: 192px 108px;
      background-size: 50% 50%;
      background-size: contain;
      background-size: cover;
}