@charset "UTF-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);

body{
	background: #F9C9ED;
	font-size:13m;
	color:#646464;
	font-family: 'Walter Turncoat', cursive;
}

.navbar-default{
	background:#595353;
	color:#fff;
}

.navbar-nav a{
	color:#fff !important;
	font-size:1.3em !important;
}

.navbar-nav a:hover{
	color:#F8C9ED !important;
}


/* ESTILOS HEADER */
header{
	padding-top:100px;
	width:100%;
	min-height:530px;
	background:url(../img/header-bg.jpg) no-repeat center;
	background-size:cover;
}

header h1{
	font-family: 'Walter Turncoat', cursive;
	color:#fff;
	letter-spacing:2px;
	margin-top:20%;
	font-size:3em;
	text-shadow:2px 2px 3px #000;
}

.centro{
	margin:10px 0;
	text-align:center;
}

.centro h1, .centro h2, .centro h4{
	font-family: 'Walter Turncoat', cursive;
}
.centro h1{
	font-size:2em;
	color:#E035AA;
	margin:0;
}

.centro h2{
	font-size:1.6em;
	color:#595353;
	margin:0;
}

.centro h4{
	font-size:1.4em;
	color:#E035AA;
	margin:0;
}

.equipo{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:1em;
	margin:0;
	line-height:1.2em;
	color:#000;
	margin-bottom:10px;
}

.blanco{
	background:white;
	margin-top:8px;
}

.borde-rosa{
	border:2px solid #E035AA;
	margin-top:10px;
}

.sombra{
	box-shadow:1px 1px 4px #000;
	margin-top:10px;
	margin-bottom:10px;
}

/* FOOTER */
footer{
	text-align:center;
}
footer p{
	margin-top:15px;
	font-size:1.2em;
}

footer a:link, footer a:visited{
	color:#F8C9ED;
	text-decoration:underline;
}

footer a:hover{
	color:#E035AA;
}


.separacion{
	min-height:100px;
}

@media screen and (max-width: 768px){
	.navbar-nav li{
	border-bottom:1px solid #fff !important;
}

	.navbar-nav li:hover{
		background:#A7A3A3 !important;
}

header h1{
	font-size:1.5em;
}

.imagen-movil{
	width:60%;
}

.centro h1{
	font-size:1.5em;
}

.centro h2{
	font-size:1.2em;
}
}
