@charset "UTF-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

body{
	background:lightblue;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header{
	padding-bottom:5px;
	border-bottom:2px solid #424242;
}

h1{
	text-align:center;
	font-size:2em;
	font-weight:lighter;
	color:white;
	padding:0.5em 0;
	background:#424242;
	
}

/* SLIDER */

#slider{
	margin:150px auto;
	box-shadow: 0 .1em 1em black;
	-webkit-box-shadow: 0 .1em 1em black;
	-moz-box-shadow: 0 .1em 1em black;
	-o-box-shadow: 0 .1em 1em black;
	border:5px solid #fff;
}

/* ESTILOS DEL SLIDESHOW */
ul.bjqs{
	position:relative;
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden;
	display:none;
}

li.bjqs-slide{
	position:absolute;
	display:none;
}

ul.bjqs-controls{
	list-style:none;
	margin:0;
	padding:0;
	z-index:9999;
}

ul.bjqs-controls.v-centered li a{
	position:absolute;
}

ul.bjqs-controls.v-centered li.bjqs-next a{
	right:0;
}

ul.bjqs-controls.v-centered li.bjqs-prev a{
	left:0;
}

ol.bjqs-markers{
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
}

ol.bjqs-markers.h-centered{
	text-align:center;
}

ol.bjqs-markers li{
	display:inline;
}

ol.bjqs-markers li a{
	display:inline-block;
}

p.bjqs-caption{
	display:block;
	width:96%;
	margin:0;
	padding:2%;
	position:aboslute;
	bottom:0;
}

.bjqs-caption{
	color:black;
	background:whitesmoke;
	opacity:.75;
}




















