@charset "UTF-8";
/* CSS Document */

body{
	background:#fffffa;
}

header{
	width:100%;
}

header nav{
	width:90%;
	max-width:1000px;
	margin:20px auto;
	background:#024959;
}

.menu_bar{
	display:none;
}

header nav ul{
	overflow:hidden;
	list-style:none;
	width:650px;
	margin:0 auto;
}

header nav ul li{
	float:left;
	width:20%;
	border-bottom:1px solid rgba(255,255,255,.3);
}

header nav ul li a:link, header nav ul li a:visited{
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
	text-align:center;
	font-size:0.9em;
}

header nav ul li a:hover{
	background:#037e8c;
}

.fa{
	margin-right:5px;
}

@media screen and (max-width:800px){
	header nav{
		width:50%;
		margin:0;
		position:fixed;
		left:-100%;
	}
	
	header nav ul{
		width:100%;
		margin:0 0 0 2%;
		padding:0;
	}
	
	header nav ul li{
		float:none;
		display:block;
		width:98%;
		text-align:left;
	}
	
	header nav ul li a:link, header nav ul li a:visited{
		text-align:left;
	}
	
	.menu_bar{
		display:block;
		width:100%;
		background:#ccc;
		height:50px;
	}
	
	.menu_bar .bt_menu {
		display:block;
		padding:10px;
		color:#fff;
		text-decoration:none;
		box-sizing:border-box;
		float:left;
	}
	
	.menu_bar span{
		float:left;
		padding-top:15px;
	}
	
	.ver2{
		opacity:0;
	}
	
	header nav ul li a:link, header nav ul li a:visited{
	font-size:1em;
}
	
	
}











